<div id="content" class="post-content">
  <h1 id="page-title">Mailing List</h1>

  <div class="stack stack-page-content" id="stack-212-0">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="at-above-post-page addthis_tool" data-url="http://www.sitecorehackathon.org/mailing-list/"></div>
          <p>Use the form below to signup to our mailing list. The Hackathon updates will be sent out on a weekly basis,
            no more than 1 email per week. The email addresses will not be sold or used for any other purpose other than
            the Sitecore Hackathon related activities.</p>
          <p>
            <!-- Begin MailChimp Signup Form -->
          </p>
          <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
          <style type="text/css">
            #mc_embed_signup {
              background: #fff;
              clear: left;
              font: 14px Helvetica, Arial, sans-serif;
            }

            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup">
            <form
              action="//sitecorehackathons.us3.list-manage.com/subscribe/post?u=e20a28ef2920deac8228c6180&amp;id=2e4f1d0fa4"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
              target="_blank" novalidate="">
              <label for="mce-EMAIL">Subscribe to our mailing list</label><br>
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address"
                required=""><br>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <p></p>
              <div style="position: absolute; left: -5000px;"><input type="text"
                  name="b_e20a28ef2920deac8228c6180_2e4f1d0fa4" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                  class="btn btn-info btn-lg active"></div>
            </form>
          </div>
          <p>
            <!--End mc_embed_signup-->
          </p>
          <p></p><!-- AddThis Advanced Settings above via filter on the_content -->
          <!-- AddThis Advanced Settings below via filter on the_content -->
          <!-- AddThis Advanced Settings generic via filter on the_content -->
          <!-- AddThis Share Buttons above via filter on the_content -->
          <!-- AddThis Share Buttons below via filter on the_content -->
          <div class="at-below-post-page addthis_tool" data-url="http://www.sitecorehackathon.org/mailing-list/"></div>
          <!-- AddThis Share Buttons generic via filter on the_content -->
        </div>
      </div>
    </div>
  </div><!-- .stack-page-content -->


</div>