<div class="container tags-topics">
  <div id="accordion">
      <div class="card bg-light">
          <!-- If showing a filtered result, add a class of "active" to this button -->
          <button class="btn btn-info btn-lg btn-block active" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              Hackathon History
          </button>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-th" aria-hidden="true"></span>

          <!-- If showing a filtered result, add a class of "active" to the tag or month that is appropriate -->
          <!-- If showing a filtered result, add a class of "show" to this div -->
          <div id="collapseOne" class="collapse tag-buttons" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                  <div class="archive-year">
                      <div class="archive-year-label">2019</div>
                      <a class="btn btn-info" href="/hackathon-2019" role="button">Teams</a>
                      <a class="btn btn-info" href="#" role="button">Winner</a>
                  </div>
                  <div class="archive-year">
                      <div class="archive-year-label">2018</div>
                      <a class="btn btn-info" href="/hackathon-2018" role="button">Teams</a>
                      <a class="btn btn-info" href="#" role="button">Winner</a>
                  </div>
                  <div class="archive-year">
                      <div class="archive-year-label">2017</div>
                      <a class="btn btn-info" href="/hackathon-2017" role="button">Teams</a>
                      <a class="btn btn-info" href="#" role="button">Winner</a>
                  </div>
                  <div class="archive-year">
                      <div class="archive-year-label">2016</div>
                      <a class="btn btn-info" href="/hackathon-2016" role="button">Teams</a>
                      <a class="btn btn-info" href="#" role="button">Winner</a>
                  </div>
                  <div class="archive-year">
                      <div class="archive-year-label">2015</div>
                      <a class="btn btn-info" href="#" role="button">Teams</a>
                      <a class="btn btn-info" href="#" role="button">Winner</a>
                  </div>
                  <div class="archive-year">
                      <div class="archive-year-label">First Ever Sitecore Hackathon Contest</div>
                      <a class="btn btn-info" href="#" role="button">Teams</a>
                      <a class="btn btn-info" href="#" role="button">Winner</a>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>